BloodPressureForms/Connected Services/EmailSender/EmailNotifications.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailNotifications" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51062/EmailNotifications.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51062/EmailNotifications.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailNotifications_notify_InputMessage">
    <wsdl:part name="parameters" element="tns:notify" />
  </wsdl:message>
  <wsdl:message name="IEmailNotifications_notify_OutputMessage">
    <wsdl:part name="parameters" element="tns:notifyResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailNotifications_SendNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNotification" />
  </wsdl:message>
  <wsdl:message name="IEmailNotifications_SendNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmailNotifications">
    <wsdl:operation name="notify">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailNotifications/notify" message="tns:IEmailNotifications_notify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailNotifications/notifyResponse" message="tns:IEmailNotifications_notify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailNotifications/SendNotification" message="tns:IEmailNotifications_SendNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailNotifications/SendNotificationResponse" message="tns:IEmailNotifications_SendNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmailNotifications" type="tns:IEmailNotifications">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="notify">
      <soap:operation soapAction="http://tempuri.org/IEmailNotifications/notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <soap:operation soapAction="http://tempuri.org/IEmailNotifications/SendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailNotifications">
    <wsdl:port name="BasicHttpBinding_IEmailNotifications" binding="tns:BasicHttpBinding_IEmailNotifications">
      <soap:address location="http://localhost:51062/EmailNotifications.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>